* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.header {
 	text-align: center;
  background-color: #ced6e0;
}

.header__logo {
	width: 40em;
	margin: 3em 0;
  cursor: pointer;
}

.navbar {
	background-color:#1b1b1b;
	display: flex;
	justify-content: space-around;
	border-radius: 10px;
}

.navbar__item {
  color: white;
	transition: all 0.3s ease;
	border-radius: 10px;
	text-decoration: none;
	padding: 1em;
	font-weight: bold;
  outline: none;
  border: none;
  font-family:'Montserrat', sans-serif;
}

.navbar__item:active, .navbar__item:hover, .navbar__item:visited {
	color: white;
	transition: all 0.3s ease;
	border-radius: 10px;
	text-decoration: none;
  background-color: #0275d8;
  cursor: pointer;
  outline: none;
  border: none;
}
