<app-pokedex-header></app-pokedex-header>
<section class="container">
  <h1 class="title">AGREGAR EVOLUCION</h1>
  <form class="form" [formGroup]="form" (submit)="agregarEvolucion()">
    <label class="title" for="nombre">Nombre</label>
    <input class="input" formControlName="nombre" id="nombre" type="text">
    <label class="title" for="descripcion">Descripcion</label>
    <input class="input" formControlName="descripcion" id="descripcion" type="text">
    <label class="title" for="nivelRequerido">Nivel Requerido</label>
    <input class="input" formControlName="nivelRequerido" id="nivelRequerido" type="number" min=1 max=1000>
    <label class="title" for="imagen">URL Imagen (Opcional)</label>
    <input class="input" formControlName="imagen" id="imagen" type="text">
    <button class="button" [disabled]="form.invalid">Guardar</button>
  </form>
</section>
<app-pokedex-logout></app-pokedex-logout>
<app-pokedex-footer></app-pokedex-footer>
