* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	background-color: #ced6e0;
	font-family:'Montserrat', sans-serif;
	font-size: 16px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.title {
	font-weight: bold;
	padding: 1em;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

.button__logout {
	margin: 4em auto;
	font-weight: bold;
	padding: 1em;
	border-radius: 10px;
	border: none;
	background-color: red;
	color: #FFF;
}

.home__logo {
	width: 20em;
	margin-bottom: 2em;
}
