* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	background-color: #ced6e0;
	font-family:'Montserrat', sans-serif;
	font-size: 16px;
  width: 100%;
  margin: 0 auto;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-weight: bold;
	padding: 1em;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

.error {
	font-weight: bold;
	padding: 1em;
	margin-top: 2em;
  width: 40%;
	text-align: center;
	text-transform: uppercase;
  background-color: #ffe3e6;
  border-radius: 10px;
}

.registro {
  cursor: pointer;
}

.input {
	padding: 1em;
	width: 40%;
	border-radius: 10px;
	border: none;
	box-shadow: 0 0 5px black;
}

.input:focus, .button:focus, .select:focus {
	outline: none;
}

.button {
	margin: 4em auto;
	width: 40%;
	font-weight: bold;
	text-transform: uppercase;
	padding: 1em;
	border-radius: 10px;
	border: none;
	background-color: #0275d8;
	color: #FFF;
}

.button:disabled {
	background-color: #a1a1a1;
}
