<app-pokedex-header></app-pokedex-header>
<section class="container">
  <h1 class="title">CREAR CUENTA</h1>
  <form class="form" [formGroup]="form" (submit)="iniciarSesion()">
    <label class="error" [hidden]="!error">ERROR USUARIO O CONTRASENA INVALIDA</label>
    <label class="title" for="usuario">Usuario</label>
    <input class="input" formControlName="usuario" id="usuario" type="text">
    <label class="title" for="contrasena">Contrasena</label>
    <input class="input" formControlName="contrasena" id="contrasena" type="text">
    <button class="button" [disabled]="form.invalid">INICIAR SESIÓN</button>
  </form>
</section>
<app-pokedex-footer></app-pokedex-footer>
