* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.body {
	background-color: #ced6e0;
	font-family:'Montserrat', sans-serif;
	font-size: 16px;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	font-weight: bold;
	padding: 1em;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

.input {
	padding: 1em;
	width: 40%;
	border-radius: 10px;
	border: none;
	box-shadow: 0 0 5px black;
}

.input:focus, .button:focus, .select:focus {
	outline: none;
}

.button {
	margin: 4em auto;
	width: 40%;
	font-weight: bold;
	text-transform: uppercase;
	padding: 1em;
	border-radius: 10px;
	border: none;
	background-color: #0275d8;
	color: #FFF;
}

.button__logout {
	margin: 4em auto;
	font-weight: bold;
	padding: 1em;
	border-radius: 10px;
	border: none;
	background-color: red;
	color: #FFF;
}

.signup {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}

.signup:hover {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}

.select {
	width: 4 0%;
	margin: 0 auto;
	padding: 1em;
	font-weight: bold;
	border-radius: 10px;
}

.section {
	text-align: center;
}

.header {
 	text-align: center;
}

.header__logo {
	width: 40em;
	margin: 3em 0;
}

.footer {
 	text-align: center;
}

.footer__logo {
	filter: invert(100%);
	width: 12em;
	margin: 4em 0;
}

.home__logo {
	width: 20em;
	background-color: #a4b0be;
	border-radius:50%;
	padding: 2em;
	margin: 2em;
}

.navbar {
	background-color:#1b1b1b;
	display: flex;
	justify-content: space-around;
	border-radius: 10px;
	margin-bottom: 1em;
}

.navbar__item {
	color: white;
	transition: all 0.3s ease;
	border-radius: 10px;
	text-decoration: none;
	padding: 0 3em;
}

.navbar__item:active {
	color: white;
	transition: all 0.3s ease;
	border-radius: 10px;
	text-decoration: none;
}

.navbar__item:hover {
	color: white;
	transition: all 0.3s ease;
	border-radius: 10px;
	text-decoration: none;
	background-color: #0275d8;
}

.navbar__item-title {
	font-weight: bold;
}

.pokemon__img {
	width: 25em;
}

.pokemon__info, .pokemon__skill, .pokemon__type, .pokemon__evolution {
	box-shadow: 0 0 15px #000;
	text-align: center;
	border-radius: 10px;
	background-color: #a4b0be;
	width: 80%;
	margin: 5em auto;
}

.pokemon__button-green {
	margin: 2em;
	font-weight: bold;
	padding: 1em;
	border-radius: 10px;
	border: none;
	background-color: green;
	color: #FFF;
}

.pokemon__button-red {
	margin: 2em;
	font-weight: bold;
	padding: 1em;
	border-radius: 10px;
	border: none;
	background-color: red;
	color: #FFF;
}

.pokemon__div-button {
	display: flex;
	justify-content: center;
}

.pokemon__skill-title, .pokemon__type-title, .pokemon__evolution-title {
	border-radius: 10px;
	padding: 15px 0;
	background-color: #0275d8;
	color: #FFF;
	font-weight: bold;
}

.pokemon__info-name {
	padding: 1em 0;
	text-transform: uppercase;
	font-weight: bold;
}

.pokemon__info-desc {
	width: 80%;
	margin: auto;
	padding: 0 0 1em 0;
}

.pokemon__skill-list {
	margin: 1em 0;
}

.pokemon__skill-list-name {
	font-weight: bold;
}

.pokemon__skill-list-desc {
	border-bottom: 1px solid #000;
	padding: 15px 0;
}

.pokemon__type-name {
	margin: 1em 0;
	font-weight: bold;
}

.pokemon__evolution-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.pokemon__evolution-list-element {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 0 3em;
}

.pokemon__evolution-list-element-img {
	width: 10em;
	padding-top: 1em;
}

.ejemplar__table {
	width: 60%;
	box-shadow: 0 0 10px #000;
	background: white;
	border-radius: 6px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.ejemplar__th {
	padding: 1em 0;
	text-align: center;
}

.ejemplar__tr {
	background: #a4b0be;
}

.pokemones {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin: 0 auto;
}

.pokemones__box {
	box-shadow: 0 0 10px #000;
	border: none;
	margin: 2em 1em;
	text-align: center;
	border-radius: 10px;
	background-color: #a4b0be;
}

.pokemones__box-img {
	width: 20em;
	margin: 2em;
}

.pokemones__box-name {
	font-weight: bold;
}

.pokemones__box-button {
	margin: 3em auto;
	width: 60%;
	font-weight: bold;
	padding: 1em;
	border-radius: 10px;
	border: none;
	background-color: #0275d8;
	color: #FFF
}
