* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	background-color: #ced6e0;
	font-family:'Montserrat', sans-serif;
	font-size: 16px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.title {
	font-weight: bold;
	padding: 1em;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

.input:focus, .button:focus, .select:focus {
	outline: none;
}

.button {
	margin: 4em auto;
	width: 40%;
	font-weight: bold;
	text-transform: uppercase;
	padding: 1em;
	border-radius: 10px;
	border: none;
	background-color: #0275d8;
	color: #FFF;
}

.button__logout {
	margin: 4em auto;
	font-weight: bold;
	padding: 1em;
	border-radius: 10px;
	border: none;
	background-color: red;
	color: #FFF;
}

.ejemplar__table {
	width: 60%;
	box-shadow: 0 0 10px #000;
	background: white;
	border-radius: 6px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}

.ejemplar__th {
	padding: 1em 0;
	text-align: center;
}

.ejemplar__tr {
	background: #a4b0be;
}

.ejemplar__img {
  width: 4em;
}
