<app-pokedex-header></app-pokedex-header>
<section class="container">
  <h1 class="title">AGREGAR EJEMPLAR</h1>
  <label class="title">Pokemon</label>
  <form [formGroup]="form" (submit)="agregarEjemplar()" class="form">
    <select class="select" formControlName="pokemonId">
      <option value="" selected="true" disabled>Seleccione un pokemon</option>
      <option *ngFor="let pokemon of pokemones" value="{{pokemon.id}}">{{pokemon.nombre}}</option>
    </select>
    <label class="title" for="nivelActual">Nivel Actual</label>
    <input class="input" formControlName="nivelActual" id="nivelActual" type="text">
    <button class="button" [disabled]="form.invalid">Guardar</button>
  </form>
</section>
<app-pokedex-logout></app-pokedex-logout>
<app-pokedex-footer></app-pokedex-footer>
