{{#partial "titulo"}}
Agregar Habilidad - Pokedex
{{/partial}}

{{#partial "contenido"}}
<section style="text-align: center;">
	<h1 style="font-weight: bold">AGREGAR HABILIDAD</h1>
	<br>
	<h2>Por favor, seleccione una habilidad para agregar.</h2>
	<br>
	<br>
	<form action="/pokemones/{{nombrePokemon}}/agregarHabilidad" method="POST">		
		<select  style="width: 60%; margin: 0 auto; padding: 1em; font-weight: bold; border-radius: 10px;" name="nombreHabilidad" required>
			<option value="" selected="true" disabled>Seleccione una habilidad</option>
			{{#each habilidades}}
			<option value="{{nombre}}">{{nombre}}</option>
			{{/each}}
		</select>
		<br>
		<br>
		<br>
		<input style="width: 60%; font-weight: bold; padding: 1em 0; border-radius: 10px;" class="btn btn-primary" type="submit" value="Guardar">
	</form>
</section>
{{/partial}}

{{>Layout.hbs}}