{{#partial "titulo"}}
Agregar Ejemplar - Pokedex
{{/partial}}

{{#partial "contenido"}}
<section style="text-align: center;">
	<h1 style="font-weight: bold">AGREGAR EJEMPLAR</h1>
	<h2>Por favor, seleccione un pokemon.</h2>
	<br>
	<form action="/pokemones/verEjemplar" method="POST">	
		<select style="width: 60%; margin: 0 auto; padding: 1em; font-weight: bold; border-radius: 10px;" name="nombrePokemon" required>
			<option value="" selected="true" disabled>Seleccione un pokemon</option>
			{{#each pokemones}}
			<option value="{{nombre}}">{{nombre}}</option>
			{{/each}}
		</select>	
		<h3>Nivel Actual</h3>
		<input style="padding: 1em; width: 60%; border-radius: 10px;" name="nivelPokemon" type="number" min=1 max=1000 required></label><br>
		<br>
		<br>
		<br>
		<input style="width: 60%; font-weight: bold; padding: 1em 0; border-radius: 10px;" class="btn btn-primary" type="submit" value="Guardar">
	</form>
</section>

{{/partial}}

{{>Layout.hbs}}