<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Layout</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<section class="section">
	<h1 class="title">MODIFICAR DATOS</h1>
	<h2>Por favor, complete los datos con los nuevos valores.</h2>
	<form action="/pokemones/{{nombre}}/modificarDatos" method="POST">		
		<h3>Nombre</h3>
		<input class="input" name="nombrePokemon" type="text" value="{{nombre}}" required>
		<h3>Descripcion</h3>
		<input class="input" name="descripcionPokemon" type="text" value="{{descripcion}}" required>
		<h3>Nivel Requerido</h3>
		<input class="input" name="nivelRequeridoPokemon" type="number" min=1 max=1000 value="{{nivelRequerido}}" required>
		<input class="button" type="submit" value="Guardar Cambios">
	</form>
</section>
</body>
</html>