<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Ejemplares - Pokedex</title>
	<meta charset="UTF-8">
	<meta name="author" content="Dario Poma">
	<meta name="keywords" content="Pokedex, Certant, Pokemon">
	<meta name="description" content="Pokedex">
	<meta name="copyright" content="Certant">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
	<section class="section">
		<h1 class="title" th:text=${usuario}></h1>
		<table class="table">
			<tr class="table__tr">
				<th class="table__th"><h2>Pokemon</h2></th>
				<th class="table__th"><h2>Nivel Actual</h2></th>
			</tr>
			<tr th:each="ejemplares : ${ejemplares}">
				<td><h2 th:text="${ejemplar.pokemon.nombre}"></h2></td>
				<td><h2 th:text="${ejemplar.nivelActual}"></h2></td>
			</tr>
		</table>
		<a href="/pokemones/ejemplares/agregar">
			<input class="button" type="button" value="Agregar Ejemplar">
		</a>
	</section>
</body>
</html>