{{#partial "titulo"}}
Inicio - Pokedex
{{/partial}}

{{#partial "contenido"}}
<section style="text-align: center;">
	<h1>¡Bienvenido!</h1>
	<h1 style="text-transform: uppercase;"><b>{{nombreUsuario}}</b></h1>
	<br>
	<br>
    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png" style="width: 20em; background-color: #a4b0be; border-radius:50%; padding:2em;">
    <br>
    <br>
	<h2>¡Buscá información de los pokemones que desees y registrá los nuevos que vayas encontrando!</h2>
</section>
{{/partial}}

{{>Layout.hbs}}