<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Layout</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<section class="section">
		<h1 class="title">¡Bienvenido!</h1>
		<h1>{{nombreUsuario}}</h1>
    	<img class="home__logo" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
		<h2>¡Buscá información de los pokemones que desees y registrá los nuevos que vayas encontrando!</h2>
	</section>
</body>
</html>