{{#partial "titulo"}}
Login - Pokedex
{{/partial}}

{{#partial "contenido"}}
<section style="text-align: center;">
  <form class="form-signin" action="/login" method="POST">
    <h1><b>Usuario</b></h1>
    <br>
    <input style="padding: 1em; width: 60%; border-radius: 10px;" type="text" name="username" required autofocus>
    <br>
    <h1><b>Contrasena</b></h1>
    <br>
    <input style="padding: 1em; width: 60%; border-radius: 10px;" type="password" name="password" required>
    <br>
    <br>
    <br>
    <br>
    <input style="width: 60%; font-weight: bold; padding: 1em 0; border-radius: 10px;" class="btn btn-primary" type="submit" value="Login">
    <br>
    <br>
    <br>
    <a href="/signup" style="color: #000; text-decoration: none;"><h2>Registrarse</h2></a>
</form>
</section>
{{/partial}}

{{>PublicLayout.hbs}}