<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Login</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<header th:replace="layout :: header"></header>
	<section class="section">
  		<form class="form-signin" action="/login" method="POST">
    		<h1 class="title">Usuario</h1>
    		<input class="input" type="text" name="username" required autofocus>
    		<h1 class="title">Contrasena</h1>
    		<input class="input" type="password" name="password" required>
    		<input class="button" type="submit" value="Login">
    		<a href="/"><h1>Registrarse</h1></a>
		</form>
	</section>
	<footer th:replace="layout :: footer"></footer>
</body>
</html>