{{#partial "titulo"}}
Login - Pokedex
{{/partial}}

{{#partial "contenido"}}
<section style="text-align: center;">
  <form class="form-signin" action="/login" method="POST">
    <div class="alert alert-danger" role="alert" style="margin: 1em auto; border-radius: 10px; width:60%;">
        Usuario o Contrasena incorrectos.
    </div>
    <h3>Usuario</h3>
    <br>
    <input style="padding: 1em; width: 60%; border-radius: 10px;" type="text" name="username" required autofocus>
    <br>
    <h3>Contrasena</h3>
    <br>
    <input style="padding: 1em; width: 60%; border-radius: 10px;" type="password" name="password" required>
    <br>
    <br>
    <br>
    <br>
    <input style="width: 60%; font-weight: bold; padding: 1em 0; border-radius: 10px;" class="btn btn-primary" type="submit" value="Login">
    <br>
    <br>
    <br>
    <a href="/signup" style="color: #000; text-decoration: none;"><h5>Registrarse</h5></a>
</form>
</section>
{{/partial}}

{{>PublicLayout.hbs}}