<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Layout</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<section class="section">
	<h1>AGREGAR EJEMPLAR</h1>
	<h2>Por favor, seleccione un pokemon.</h2>
	<form action="/pokemones/verEjemplar" method="POST">	
		<select class="select" name="nombrePokemon" required>
			<option value="" selected="true" disabled>Seleccione un pokemon</option>
			<option value="{{nombre}}">{{nombre}}</option>
		</select>	
		<h3>Nivel Actual</h3>
		<input class="input" name="nivelPokemon" type="number" min=1 max=1000 required>
		<input class="button" type="submit" value="Guardar">
	</form>
</section>
</body>
</html>
