<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Layout</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<section class="section">
		<h1 class="title">AGREGAR HABILIDAD</h1>
		<h2>Por favor, seleccione una habilidad para agregar.</h2>
		<form action="/pokemones/{{nombrePokemon}}/agregarHabilidad" method="POST">
			<select class="select" name="nombreHabilidad" required>
				<option value="" selected="true" disabled>Seleccione una habilidad</option>
				<option value="{{nombre}}">{{nombre}}</option>
			</select> 
			<input class="button" type="submit" value="Guardar">
		</form>
	</section>
</body>
</html>