<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Pokemones - Pokedex</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="body">
	<header th:replace="layout :: header"></header>
	<nav th:replace="layout :: navbar"></nav>
	<h1 class="title">Pokemones</h1>
	<section class="pokemones">
		<div class="pokemones__box" th:each="pokemon : ${pokemones}">
			<img class="pokemones__box-img" th:src="${pokemon.imagen}">
			<h2 class="pokemones__box-name" th:text="${pokemon.nombre}"></h2>
			<a th:href="@{/pokemones/} + ${pokemon.id}">
				<input class="button" type="button" value="Detalles">
			</a>
		</div>
	</section>
	<form th:replace="layout :: logout"></form>
	<header th:replace="layout :: footer"></header>
</body>
</html>