<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Layout</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<section class="section">
	<h1 class="title">MODIFICAR DATOS</h1>
	<h2>Por favor, complete los datos con los nuevos valores.</h2>
	<form th:object="${pokemon}" th:action="@{/pokemones/} + ${pokemon.id} + @{/editar}" method="POST">		
		<label class="title" for="nombre" >Nombre</label>
		<input class="input" name="nombre" type="text" th:value="${pokemon.nombre}" required>
		<label class="title" for="descripcion" >Descripcion</label>
		<input class="input" name="descripcion" type="text" th:value="${pokemon.descripcion}" required>
		<label class="title" for="nivelRequerido" >Nivel Requerido</label>
		<input class="input" name="nivelRequerido" type="number" min=1 max=1000 th:value="${pokemon.nivelRequerido}" required>
		<input class="button" type="submit" value="Guardar Cambios">
	</form>
</section>
</body>
</html>