{{#partial "titulo"}}
Pokemones
{{/partial}}

{{#partial "contenido"}}
<body>
	<h1>Buscar Pokemones</h1>
	<form action="/pokemones/{{nombre}}" method="GET">		
		<label>Elegir Pokemon</label>
		<select name="nombrePokemon"class="form-control" required>
			<option value="" selected="true" disabled>Seleccione un pokemon</option>
			{{#each pokemones}}
			<option value={{nombre}}>{{nombre}}</option>
			{{/each}}
		</select>
		<input class="btn btn-primary" type="submit" value="Ver Detalles">
	</form>

	<label>Nombre:</label><br>
	<label>Descripcion:</label><br>
	<label>Nivel Requerido:</label><br>
	<label>HABILIDADES</label><br>
	<label>TIPOS</label><br>
	<label>EVOLUCIONES</label><br>

</body>
{{/partial}}
{{>Layout.hbs}}