<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Agregar Pokemon - Pokedex</title>
	<meta charset="UTF-8">
	<meta name="author" content="Dario Poma">
	<meta name="keywords" content="Pokedex, Certant, Pokemon">
	<meta name="description" content="Pokedex">
	<meta name="copyright" content="Certant">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body class="body">
	<section class="section">
		<header th:replace="layout :: header"></header>
		<nav th:replace="layout :: navbar"></nav>
		<h1 class="title">AGREGAR POKEMON</h1>
		<form class="form" th:object="${pokemon}" th:action="@{/pokemones/agregar}" method="POST">		
			<label class="title" for="nombre">Nombre</label>		
			<input class="input" name="nombre" type="text" th:text="${pokemon.nombre}" required>
			<label class="title" for="descripcion">Descripcion</label>		
			<input class="input" name="descripcion" type="text" th:text="${pokemon.descripcion}" required>
			<label class="title" for="nivelRequerido">Nivel Requerido</label>		
			<input class="input" name="nivelRequerido" type="number" min=1 max=1000 th:text="${pokemon.nivelRequerido}" required>
			<label class="title" for="imagen">URL Imagen (Opcional)</label>
			<input class="input" name="imagen" type="text" th:text="${pokemon.imagen}">
			<input class="button" type="submit" value="Guardar">
		</form>
	</section>
	<form th:replace="layout :: logout"></form>
	<header th:replace="layout :: footer"></header>
</body>
</html>