<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Pokemon - Pokedex</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="body">

	<header th:replace="layout :: header"></header>
	<nav th:replace="layout :: navbar"></nav>

	<section class="section">
			
		<img class="pokemon__img" th:src="${pokemon.imagen}">
		
		<div class="pokemon__info">
			<h2 class="pokemon__info-name" th:text="${pokemon.nombre}"></h2>
			<h3 class="pokemon_info-desc" th:text="${pokemon.descripcion}"></h3>
			<!--  <h3 th:text="${pokemon.nivelRequerido}"></h3>-->
			<a th:href="@{/pokemones/} + ${pokemon.id} + @{/editar}">
				<input class="button" type="button" value="Editar Datos">
			</a>
		</div>
		
		<div class="pokemon__skill">
			<h2 class="pokemon__skill-title">HABILIDADES</h2>
			<div class="pokemon__skill-list" th:each="habilidad : ${pokemon.habilidades}">
				<h3 class="pokemon__skill-list-name" th:text="${habilidad.nombre}"></h3>
				<h3 class="pokemon__skill-list-desc" th:text="${habilidad.descripcion}"></h3>
			</div>
			<a th:href="@{/pokemones/} + ${pokemon.id} + @{/agregarHabilidad}">
				<input class="button" type="button" value="Agregar Habilidad">
			</a>
			<a th:href="@{/pokemones/} + ${pokemon.id} + @{/eliminarHabilidad}">
				<input class="button" type="button" value="Eliminar Habilidad">
			</a>
		</div>
		
		<div class="pokemon__type">
			<h2 class="pokemon__type-title">TIPOS</h2>			
			<h3 class="pokemon__type-name" th:each="tipo : ${pokemon.tipos}" th:text="${tipo.nombre}"></h3>
			<a th:href="@{/pokemones/} + ${pokemon.id} + @{/agregarTipo}">
				<input class="button" type="button" value="Agregar Tipo">
			</a>
			<a th:href="@{/pokemones/} + ${pokemon.id} + @{/eliminarTipo}">
				<input class="button" type="button" value="Eliminar Tipo">
			</a>
		</div>
		
		<div class="pokemon__evolution">
			<h2 class="pokemon__evolution-title">EVOLUCIONES</h2>
			<div class="pokemon__evolution-list">
				<div class="pokemon__evolution-list-element" th:each="evolucion : ${pokemon.evoluciones}">
					<img class="pokemon__evolution-list-element-img" th:src="${evolucion.imagen}">
					<h3 th:src="${evolucion.nombre}"></h3>
				</div>
			</div>
			<a th:href="@{/pokemones/} + ${pokemon.id} + @{/agregarEvolucion}">
				<input class="button" type="button" value="Agregar Evolucion">
			</a>
		</div>
	</section>
	<form th:replace="layout :: logout"></form>
	<header th:replace="layout :: footer"></header>
</body>
</html>