<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home - Pokedex</title>
	<meta charset="UTF-8">
	<meta name="author" content="Dario Poma">
	<meta name="keywords" content="Pokedex, Certant, Pokemon">
	<meta name="description" content="Pokedex">
	<meta name="copyright" content="Certant">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body class="body">
	<header th:replace="layout :: header"></header>
	<nav th:replace="layout :: navbar"></nav>
	<section class="section">
		<h1 class="title" th:text="${'¡Bienvenido ' + username + '!'}"></h1>
    	<img class="home__logo" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
		<h2>¡Buscá información de los pokemones que desees y registrá los nuevos que vayas encontrando!</h2>
	</section>
	<form th:replace="layout :: logout"></form>
	<header th:replace="layout :: footer"></header>
</body>
</html>