<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Pokemones - Pokedex</title>
	<meta charset="UTF-8">
	<meta name="author" content="Dario Poma">
	<meta name="keywords" content="Pokedex, Certant, Pokemon">
	<meta name="description" content="Pokedex">
	<meta name="copyright" content="Certant">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body class="body">
	<header th:replace="layout :: header"></header>
	<nav th:replace="layout :: navbar"></nav>
	<h1 class="title">Pokemones</h1>
	<section class="pokemones">
		<div class="pokemones__box" th:each="pokemon : ${pokemones}">
			<img class="pokemones__box-img" th:src="${pokemon.imagen}">
			<h2 class="pokemones__box-name" th:text="${pokemon.nombre}"></h2>
			<a th:href="@{/pokemones/} + ${pokemon.id}">
				<input class="pokemones__box-button" type="button" value="Detalles">
			</a>
		</div>
	</section>
	<form th:replace="layout :: logout"></form>
	<header th:replace="layout :: footer"></header>
</body>
</html>